<!-- <h2>Top Heroes</h2>
<div class="heroes-menu">
    <a *ngFor="let hero of heroes"
    routerLink="/detail/{{hero.id}}">{{hero.name}}</a>
</div>
<h2>Top Villains</h2>
<div class="heroes-menu">
    <a *ngFor="let villain of villains"
    routerLink="/detail/{{villain.id}}">{{villain.name}}</a>
</div>
<div class="card">
    <img src="#" alt="Card image" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title" *ngIf="randomHero">{{randomHero.name}}</h5>
        <p class="card-text" *ngIf="randomHero"> You have choosen <span>{{randomHero.name}} </span>as your Hero. Goodluck!</p>
             <button (click)="getRandomHero()"  href="#" class="btn btn-primary">Choose Hero</button>
    </div>
</div>
<div class="card">
    <img src="#" alt="Card image" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title" *ngIf="randomHero">{{randomHero.name}}</h5>
        <p class="card-text" *ngIf="randomHero"> You have choosen <span>{{randomHero.name}} </span>as your Hero. Goodluck!</p>
             <button (click)="getRandomHero()"  href="#" class="btn btn-primary">Choose Hero</button>
    </div>
</div> -->